<!DOCTYPE html>
<html lang="en">
<head>
    <title>Deploy It</title>
    <link rel="stylesheet" href="/stylesheets/bootstrap.css">
</head>
<body>
<h1>Home Page</h1>
<ul>
    <li><a href="/about">To the About Page</a></li>
</ul>
</body>
</html>